#header {
  padding-block: 1rem;
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo img {
  inline-size: 112px;
  block-size: 29px;
  display: block;
}

.hamburger {
  display: block;
  block-size: fit-content;
}

#header nav {
  display: none;
}

.actions {
  gap: 10px;
  display: none;
}

/* sm */
@media screen and (min-width: 40rem) {
  #header {
    inline-size: min(75rem, 100% - 2rem);
    margin-inline: auto;
    margin-block: 1.8rem;
  }
  .hamburger {
    display: none;
  }

  #header nav {
    display: block;
  }

  #header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  #header nav ul li a {
    text-decoration: none;
    font-size: 0.62rem;
    color: inherit;
  }

  #header nav ul li:first-child a {
    color: var(--color-primary);
    font-weight: 700;
  }

  .actions {
    display: flex;
  }

  .btn_logIN,
  .btn_lOgOut {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 0.25rem;
    padding-block: 0.6rem;
    padding-inline: 0.93rem;
    border: none;
    font-size: 0.62rem;
    transition: background-color 0.3 ease-in-out;
  }

  .btn_logIN:hover {
    background-color: var(--color-primary-hover);
    transition: background-color 0.3s ease-in-out;
  }
  .btn_lOgOut {
    border: 1px var(--color-primary) solid;
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  .btn_lOgOut:hover {
    background-color: rgb(236, 236, 236);
    transition: background-color 0.3s ease-in-out;
  }
}

/* md */

@media screen and (min-width: 48rem) {
  #header {
    margin-block: 2rem;
  }
  #header nav ul {
    gap: 2rem;
  }

  #header nav ul li a {
    font-size: 0.75rem;
  }

  .btn_logIN,
  .btn_lOgOut {
    font-size: 0.62rem;
  }
}

/* lg */

@media screen and (min-width: 64rem) {
  .logo img {
    inline-size: revert;
    block-size: revert;
  }

  #header nav ul {
    gap: 3rem;
  }

  #header nav ul li a {
    font-size: 1rem;
  }

  .btn_logIN,
  .btn_lOgOut {
    padding-block: 0.87rem;
    padding-inline: 2.12rem;
    font-size: 1rem;
  }
}

/* xl: 1280px به بالا */
