.services {
  display: grid;
  gap: 3rem;
  margin-block: 7rem;
}

.services h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.highlight {
  background: linear-gradient(to right, #0179b4 100%, #88d8ff 12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services p {
  color: var(--color-gray-40);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  max-inline-size: 50rem;
  text-align: center;
  margin-inline: auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 22.62rem);
  gap: 3.56rem;
  justify-content: center;
}
